{{ define "main"}}

<div class="container-fluid fadeIn product">
      <div class="row py-xl-5">
        <div class="col-12 text-center">
          <h2 class="pb-2">Products We Build</h2>
          <p>We’re not just building client’s products. We also create some products  <br/>that we use on daily basis to help us doing our job.</p>
        </div>
      </div>

      <div class="row align-items-md-center product-list mx-2 my-5 py-xl-5">
        <div class="col-12 col-xl-6">
          <img src="{{ "img/pokester.png" | absURL  }}" class="img-fluid rounded py-3" alt="Pokester Email Scraper by Chloè & Matt">
        </div>
        <div class="col-12 col-xl-5 offset-xl-1 text-center text-md-left">
          <h3>Pokester</h3>
          <p class="py-xl-3">Pokester is an automation tool to help you extract the information from Twitter’s username in a particular list. It will work as a real user who browses the list and visit each profile one by one.</p>
          <a href="{{ "product/pokester" | relURL }}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

{{ end }}