{{ define "main" }}

<div class="container-fluid fadeIn">
  <div class="row align-items-md-center">
    <div class="col-xs-10 col-md-6">
      <img src="{{ "img/CM_Contact.svg" | absURL  }}" class="img-fluid" alt="Contact Chloè & Matt to Work Together">
    </div>

    <div class="col-xs-10 col-md-5 offset-md-1 mx-md-5 mx-auto text-center text-md-left">
      <h2 class="pb-2">Want to talk to us <br/>directly?</h2>
      <p class="contact">Please fill in this form first. We will contact you in about 24 hours.</p>

      <form action="https://formspree.io/hi@chloematt.com" class="form-contact py-3 text-left" method="POST">
        <div class="form-label-group">
          <input type="text" id="inputName" class="form-control" name="fullname" placeholder="Your Name" required>
          <label for="inputName">Full Name</label>
        </div>
        <div class="form-label-group">
          <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email Address" required>
          <label for="inputEmail">Email Address</label>
        </div>
        <div class="form-label-group">
          <textarea id="inputInquiry" name="inquiry" class="form-control" placeholder="Your Message" required></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send Request</button>
      </form>
    </div>
  </div>
</div>

{{ end }}