<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
<body class="">

<!-- Body Inner -->
<div class="body-inner">
  <section class="homepage">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-12 col-lg-6 p-b-60" data-animate="fadeInDown" data-animate-delay="200">
          <img src="/images/CM_SabbaticalLeave.png" class="img-fluid">
        </div>
        <div class="col-12 text-center" data-animate="fadeIn" data-animate-delay="400">
          <h1 class="title">Chloè & Matt is on sabbatical leave ~</h1>
        </div>
        <div class="col-12 col-md-8 p-t-20 text-center">
          <div data-animate="fadeIn" data-animate-delay="800">
            <p class="lead p-t-20">
              In 2018, we started a journey together in this firm. We've managed to built several web and mobile apps for clients, 
              and we've been through thick and thin of the business together. 
            </p>
            <p class="lead">
              But we've found an opportunity to grow and widen our reach. So from today on, Chloè & Matt is officially on sabbatical leave, until further announcement.
            </p>
          </div>
          <!--<div class="row d-flex justify-content-center p-t-40">
            <div class="col-6 p-t-10" data-animate="fadeInUp" data-animate-delay="200">
              <a href="/blog" class="btn btn-lg btn-seafoam btn-block">Check On It</a>
            </div>
          </div>
        -->
        </div>
        <div class="col-12 text-center copyright m-t-60" data-animate="fadeIn" data-animate-delay="1200">
          <small>Built with ❤️ from 🇪🇪&copy;{{ now.Format "2006" }} Chloè & Matt. All Rights Reserved Worldwide.</small>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end: Body Inner -->

  <!-- Scroll top -->
  <a id="scrollTop"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></a>

  <!--Plugins-->
  <script src="/js/jquery.js"></script>
  <script src="/js/plugins.js"></script>

  <!--Template functions-->
  <script src="/js/functions.js"></script> 
</body>

</html>