{{ template "_internal/google_analytics_async.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<meta charset="utf-8">
<title>{{ .Site.Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Retno Ika" />
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
<meta name="p:domain_verify" content="c37fe5eb328400b793525e7d8a0a7dbc"/>
<!-- Document title -->
<title>Chloè & Matt | {{ if .Title }}{{ print .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
<!-- Stylesheets & Fonts -->
<link href="{{ "css/plugins.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/custom.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/style.css" | absURL }}" rel="stylesheet">
<link href="{{ "css/responsive.css" | absURL }}" rel="stylesheet"> 
<link rel="shortcut icon" type="image/png" href="{{ "/images/favicon.png" | absURL }}"/>

{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9a38e715a72475035950a49b5/82dcf8004f4e9400b4885d46b.js");</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '429665277733921');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=429665277733921&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Pinterest Domain Verification -->
<meta name="p:domain_verify" content="c37fe5eb328400b793525e7d8a0a7dbc"/>

