<footer class="bg-white">
      <div class="row align-items-md-center">
        <div class="col-12 col-md-4 text-center text-md-left pb-5 pb-md-0">
          <div>Copyright &copy; 2019 Chloè & Matt.</div>
        </div>
        <div class="col-12 col-md-4 text-center pb-5 pb-md-0">
          <img src="{{ "img/logo.svg" | absLangURL  }}" class="logo img-fluid">
          <div class="pt-3">A brand under <a href="https://tanibox.com" target="_blank">Tanibox OÜ</a> | Reg. code: 14305217</div>
          <div>Narva mnt. 5. 10117. Tallinn, Estonia 🇪🇪</div>
        </div>
        <div class="col-12 col-md-4 text-center text-md-right pb-5 pb-md-0">
          <ul class="nav social justify-content-center justify-content-md-end">
            <li>
              <a href="https://facebook.com/chloenmatt" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="https://instagram.com/chloenmatt" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://linkedin.com/company/chloenmatt" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>