{{- $navbar:= .Site.Params.navbar }}
<header class="p-3 px-md-4 mb-3">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img src="{{ "img/logo.svg" | absURL}}" class="img-fluid" alt="Chloè & Matt">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav mr-sm-1">
        {{- range $navbar }}
        <li class="nav-item">
            <a class="nav-link" href="{{ .url | absURL  }}">{{ .title }}</a>
        </li>
        {{ end }}
      </ul>

    </div>
    </div>
  </nav>
</header>