{{ define "main" }}

<div class="container-fluid fadeIn blog">
	<div class="row align-items-top py-3">
      	{{ .Content }}
        <!-- Blog Items -->
        {{ range .Pages }}
        <div class="col-12 col-md-4 blog-item">
          <div class="blog-image">
            <img src="{{ .Params.featuredimg }}" class="img-fluid rounded">
          </div>
          <div class="blog-meta">
            <a class="title" href="{{.Permalink}}">{{.Title}}</a>
            <h6 class="date">{{.Date.Format "January 2, 2006"}}</h6>
          </div>
        </div>
        {{ end }}
    </div>
</div>

{{ end }}