html,
body {
  height: 100%;
  background-color: #fff;
  font-family: "Gilroy Extra Bold", Arial, sans-serif !important;
  font-weight: 400;
  color: #2A2A2D;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

@font-face {font-family: "Gilroy Light"; src: url(../fonts/Gilroy-Light.otf);}
@font-face {font-family: "Gilroy Extra Bold"; src: url(../fonts/Gilroy-ExtraBold.otf);}

@media all and (max-width: 1200px) {
  br {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

h1.title {
	font-family: "Gilroy Extra Bold", sans-serif !important;
	color: #2A2A2D;
}

p {
    font-size: 22px;
}

small {
    font-family: 'Poppins', sans-serif;
}